## Calculating the Beta of a Stock

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Load the data for Microsoft and S&P 500 for the period 1st of January 2012 â€“ 31st of December 2016.

In [1]:
import numpy as np
import pandas as pd

# Load data for Microsoft and S&P 500 (2012-2016)
data = pd.read_csv('CAPM_Exercise_Data.csv', index_col='Date')
data.tail()

                 MSFT        ^GSPC
Date
2016-12-23  62.500671  2263.790039
2016-12-27  62.540195  2268.879883
2016-12-28  62.253590  2249.919922
2016-12-29  62.164646  2249.260010
2016-12-30  61.413525  2238.830078

Let S&P 500 act as the market.

*****

Calculate the beta of Microsoft.

In [2]:
# Calculate log returns
sec_returns = np.log(data / data.shift(1))
sec_returns.tail()

                MSFT     ^GSPC
Date
2016-12-23 -0.004890  0.001251
2016-12-27  0.000632  0.002246
2016-12-28 -0.004593 -0.008392
2016-12-29 -0.001430 -0.000293
2016-12-30 -0.012156 -0.004648

In [3]:
# Calculate annualized covariance matrix
cov = sec_returns.cov() * 250
cov

           MSFT     ^GSPC
MSFT   0.053781  0.018208
^GSPC  0.018208  0.016361

In [4]:
# Covariance of MSFT with market (S&P 500)
cov_with_market = cov.iloc[0, 1]
cov_with_market

0.018208431910398934

In [5]:
# Annualized market variance (S&P 500)
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.016360592699269046

** Beta: **
### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [6]:
# Calculate Beta of Microsoft
MSFT_beta = cov_with_market / market_var
MSFT_beta

1.1129445152199435