## Importing and Organizing Your Data in Python - Part II

In [2]:
import yfinance as yf
import pandas as pd

# Download Ford stock data from January 1, 2015
F = yf.download('F', start='2015-01-01')

C:\Users\KHA\AppData\Local\Temp\ipykernel_5416\2015136665.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  F = yf.download('F', start='2015-01-01')
[*********************100%***********************]  1 of 1 completed

Use the “info” method to obtain basic statistics, regarding the data you extracted in the previous exercise (data from Morningstar for Ford starting from the 1st of January 2005 until today).

In [3]:
F.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2730 entries, 2015-01-02 to 2025-11-07
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   (Close, F)   2730 non-null   float64
 1   (High, F)    2730 non-null   float64
 2   (Low, F)     2730 non-null   float64
 3   (Open, F)    2730 non-null   float64
 4   (Volume, F)  2730 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 128.0 KB

Apply the “head” and “tail” methods and observe the output. How would you interpret the adjusted closing prices?

In [4]:
F.head()

Price          Close      High       Low      Open    Volume
Ticker             F         F         F         F         F
Date
2015-01-02  8.528313  8.689329  8.428372  8.656016  24777900
2015-01-05  8.195174  8.400609  8.156308  8.395056  44079700
2015-01-06  8.117442  8.272906  7.984187  8.261802  32981600
2015-01-07  8.350641  8.378403  8.200730  8.206282  26065300
2015-01-08  8.561627  8.594941  8.456134  8.550523  33943400

In [5]:
F.tail()

Price           Close       High        Low       Open    Volume
Ticker              F          F          F          F         F
Date
2025-11-03  12.861258  12.950229  12.752515  12.950229  80419400
2025-11-04  12.643772  12.782172  12.604229  12.762400  70360600
2025-11-05  12.960114  13.157828  12.732744  12.772286  79134300
2025-11-06  12.969999  13.108399  12.831600  12.989771  82291000
2025-11-07  13.210000  13.240000  12.950000  12.960000  79978300

Practice extracting closing price data from the same source and for the same timeframe. Do this for Apple, Microsoft, Exxon, and British Petroleum. 
Use IEX to find the tickers of these companies, if you don’t already know them.

In [8]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    data = yf.download(t, start='2015-01-01', progress=False)
    new_data[t] = data['Close']

C:\Users\KHA\AppData\Local\Temp\ipykernel_5416\3533136754.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(t, start='2015-01-01', progress=False)
C:\Users\KHA\AppData\Local\Temp\ipykernel_5416\3533136754.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(t, start='2015-01-01', progress=False)
C:\Users\KHA\AppData\Local\Temp\ipykernel_5416\3533136754.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(t, start='2015-01-01', progress=False)
C:\Users\KHA\AppData\Local\Temp\ipykernel_5416\3533136754.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(t, start='2015-01-01', progress=False)
C:\Users\KHA\AppData\Local\Temp\ipykernel_5416\3533136754.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(t, start='2015-01-01', progress=False)

In [9]:
new_data.head()

                   PG       MSFT          T         F          GE
Date
2015-01-02  66.518349  39.933041  11.657843  8.528310  102.697235
2015-01-05  66.202087  39.565830  11.547698  8.195174  100.812111
2015-01-06  65.900528  38.985100  11.564910  8.117443   98.640182
2015-01-07  66.246208  39.480434  11.632339  8.350640   98.681160
2015-01-08  67.003784  40.641876  11.748068  8.561627   99.869606

In [10]:
new_data.tail()

                    PG        MSFT          T          F          GE
Date
2025-11-03  148.020004  517.030029  24.530001  12.861258  308.619995
2025-11-04  147.169998  514.330017  24.440001  12.643772  304.200012
2025-11-05  145.789993  507.160004  24.559999  12.960114  305.109985
2025-11-06  146.130005  497.100006  24.740000  12.969999  305.269989
2025-11-07  146.979996  496.820007  24.830000  13.210000  307.269989

***