## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from IEX for the period ‘2015-1-1’ until today.

In [1]:
import pandas as pd 
# load data
df=pd.read_csv('../csv/MSFT_2000_2017.csv')
df=df[df['Date'] > '2015-1-1']

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [2]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
3962,2015-10-01,44.750000,44.750000,43.750000,44.610001,42.185936,28657900
3963,2015-10-02,44.270000,45.570000,43.919998,45.570000,43.093769,41839000
3964,2015-10-05,45.750000,46.889999,45.700001,46.630001,44.096172,34369300
3965,2015-10-06,46.330002,47.180000,46.220001,46.750000,44.209648,27017200
3966,2015-10-07,47.099998,47.349998,45.950001,46.799999,44.256935,27711500

In [3]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
4512,2017-12-06,81.550003,83.139999,81.430000,82.779999,82.779999,26162100
4513,2017-12-07,82.540001,82.800003,82.000000,82.489998,82.489998,23184500
4514,2017-12-08,83.629997,84.580002,83.330002,84.160004,84.160004,24489100
4515,2017-12-11,84.290001,85.370003,84.120003,85.230003,85.230003,20121700
4516,2017-12-12,85.309998,86.050003,85.080002,85.529999,85.529999,7805031

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [6]:
df['Simple_Return'] = (df['Adj Close'] / df['Adj Close'].shift(1)) - 1
df[['Date', 'Adj Close', 'Simple_Return']].head(10)

            Date  Adj Close  Simple_Return
3962  2015-10-01  42.185936            NaN
3963  2015-10-02  43.093769       0.021520
3964  2015-10-05  44.096172       0.023261
3965  2015-10-06  44.209648       0.002573
3966  2015-10-07  44.256935       0.001070
3967  2015-10-08  44.871613       0.013889
3968  2015-10-09  44.550091      -0.007165
3969  2015-10-12  44.446068      -0.002335
3970  2015-10-13  44.342041      -0.002341
3971  2015-10-14  44.143448      -0.004479