## Simpler Returns - Part I

Load the \*.csv data for Microsoft (‘MSFT’) for the period ‘2000-1-1’ until today.

In [1]:
import pandas as pd 

df=pd.read_csv('MSFT_2000_2017.csv')

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [2]:
df=df[df['Date'] > '2000-1-1']
print("df.head():")
df.head()

df.head():

           Date      Open      High     Low     Close  Adj Close     Volume
190  2000-10-02  30.25000  30.40625  29.125  29.56250  19.634594   58562400
191  2000-10-03  29.78125  29.90625  28.250  28.28125  18.783628   85374000
192  2000-10-04  28.18750  28.28125  27.250  27.71875  18.410025  136453400
193  2000-10-05  27.75000  28.62500  27.625  27.68750  18.389273   81099400
194  2000-10-06  27.90625  28.37500  27.375  27.78125  18.451536   61794000

In [3]:
print("\ndf.tail():")
df.tail()

df.tail():

,Date,Open,High,Low,Close,Adj Close,Volume
4512,2017-12-06,81.550003,83.139999,81.430000,82.779999,82.779999,26162100
4513,2017-12-07,82.540001,82.800003,82.000000,82.489998,82.489998,23184500
4514,2017-12-08,83.629997,84.580002,83.330002,84.160004,84.160004,24489100
4515,2017-12-11,84.290001,85.370003,84.120003,85.230003,85.230003,20121700
4516,2017-12-12,85.309998,86.050003,85.080002,85.529999,85.529999,7805031

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [4]:
df['Simple_Return'] = (df['Adj Close'] / df['Adj Close'].shift(1)) - 1

print("Simple Returns calculated:")
df[['Date', 'Adj Close', 'Simple_Return']].head(10)

Simple Returns calculated:

           Date  Adj Close  Simple_Return
190  2000-10-02  19.634594            NaN
191  2000-10-03  18.783628      -0.043340
192  2000-10-04  18.410025      -0.019890
193  2000-10-05  18.389273      -0.001127
194  2000-10-06  18.451536       0.003386
195  2000-10-09  17.994921      -0.024747
196  2000-10-10  18.119450       0.006920
197  2000-10-11  18.513809       0.021764
198  2000-10-12  18.057192      -0.024664
199  2000-10-13  17.849634      -0.011494