# Phân Tích Dữ Liệu - Buổi 2 - 13/9/2025

# Python Program

## Hello World

In [1]:
## Print "Hello World"
print("Hello World")

Hello World

## Python Syntax

In [2]:
# Pyhton syntax
# coment

In [3]:
#Indentation the spaces at the beginning of a code line 4 spaces
score = 80
if score >=60 :
    print("Pass")

Pass

## Python Variables

In [6]:
# Python Variables
x = 2
print("x :",x)
print('-'*3)
price = 2.5
print("price :" , price)
print('-'*3)
word = 'Hello'
print(word)
print('-'*3)
word = 'Hello'
print(word)
print('-'*3)
word = "Hello"
print(word)
word = '''Hello'''

x : 2
---
price : 2.5
---
Hello
---
Hello
---
Hello

## Python Version()

In [7]:
# Python Version()
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.12.7

## Python Data Types

In [12]:
#Python Data Types
x = "Hello World" #str
print('x = "Hello World" :' ,type(x))
print('-'*30)
x = 2 #int
print('x = 2 :' ,type(x))
print('-'*30)
x = 2.5 #float
print('x = 2.5 :' ,type(x))
print('-'*30)
x = 7j #complex
print('x = 7j :' ,type(x))
print('-'*30)

x = "Hello World" : <class 'str'>
------------------------------
x = 2 : <class 'int'>
------------------------------
x = 2.5 : <class 'float'>
------------------------------
x = 7j : <class 'complex'>
------------------------------

In [22]:
#Python Data Types
x = ["apple", "banana", "cherry"] #list
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = ("apple", "banana", "cherry") #tuple
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = range(6) #range
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = {"name" : "Tom", "age" : 20} #dict
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = {"apple", "banana", "cherry"} #set
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = frozenset({"apple", "banana", "cherry"})
print("x = ",x," \nType: ",type(x))
print('-'*30)
#frozenset

x =  ['apple', 'banana', 'cherry']
Type:  <class 'list'>
------------------------------
x =  ('apple', 'banana', 'cherry')
Type:  <class 'tuple'>
------------------------------
x =  range(0, 6)
Type:  <class 'range'>
------------------------------
x =  {'name': 'Tom', 'age': 20}
Type:  <class 'dict'>
------------------------------
x =  {'apple', 'cherry', 'banana'}
Type:  <class 'set'>
------------------------------
x =  frozenset({'cherry', 'apple', 'banana'})
Type:  <class 'frozenset'>
------------------------------

In [23]:
#Python Data Types
x = True #bool
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = b"Hello" #bytes
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = bytearray(5) #bytearray
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = memoryview(bytes(5)) #memoryview
print("x = ",x," \nType: ",type(x))
print('-'*30)
x = None #NoneType
print("x = ",x," \nType: ",type(x))
print('-'*30)

x =  True
Type:  <class 'bool'>
------------------------------
x =  b'Hello'
Type:  <class 'bytes'>
------------------------------
x =  bytearray(b'\x00\x00\x00\x00\x00')
Type:  <class 'bytearray'>
------------------------------
x =  <memory at 0x000001FED39EB340>
Type:  <class 'memoryview'>
------------------------------
x =  None
Type:  <class 'NoneType'>
------------------------------

## Python Casting

In [25]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

## Python Number

In [26]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

## Python Arithmetic Operators

+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49

In [34]:
print("7 + 2 = ",7+2)
print('-' * 50)
print("7 - 2 = ",7-2)
print('-' * 50)
print("7 * 2 = ",7*2)
print('-' * 50)
print("7 / 2 = ",7/2)
print('-' * 50)
print("7 // 2 = ",7//2)
print('-' * 50)
print("7 % 2 = ",7%2)
print('-' * 50)
print("7 ** 2 = ",7**2)
print('-' * 50)

7 + 2 =  9
--------------------------------------------------
7 - 2 =  5
--------------------------------------------------
7 * 2 =  14
--------------------------------------------------
7 / 2 =  3.5
--------------------------------------------------
7 // 2 =  3
--------------------------------------------------
7 % 2 =  1
--------------------------------------------------
7 ** 2 =  49
--------------------------------------------------

## Python Booleans: True or False

In [35]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

## Python BMI Calculator

In [36]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

## How much is your $100 worth after 7 years?

In [37]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

## Future Value

In [38]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

# Python Data Structures

## Python Data Types

In [42]:
x = ["apple", "banana", "cherry"] #list
print(x," = ",type(x))
print("-"*30)
x = ("apple", "banana", "cherry") #tuple
print(x," = ",type(x))
print("-"*30)
x = {"name" : "Tom", "age" : 20} #dict
print(x," = ",type(x))
print("-"*30)
x = {"apple", "banana", "cherry"} #set
print(x," = ",type(x))
print("-"*30)

['apple', 'banana', 'cherry']  =  <class 'list'>
------------------------------
('apple', 'banana', 'cherry')  =  <class 'tuple'>
------------------------------
{'name': 'Tom', 'age': 20}  =  <class 'dict'>
------------------------------
{'apple', 'cherry', 'banana'}  =  <class 'set'>
------------------------------

## List[]

In [47]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

## List Method

In [50]:
# 1. append() -> thêm phần tử vào cuối list
x.append(100) 
print(x)
# 2. clear() → xóa hết phần tử trong list
y = x.copy()   
y.clear()
print("clear:", y)   # []

# 3. copy() → trả về một bản sao list
z = x.copy()
print("copy:", z)    # [60, 70, 80, 90, 100]

# 4. count() → đếm số lần xuất hiện của phần tử
print("count 70:", x.count(70))   # 1

# 5. extend() → nối list khác vào cuối list
x.extend([110, 120])
print("extend:", x)  # [60, 70, 80, 90, 100, 110, 120]

# 6. index() → tìm vị trí đầu tiên của phần tử
print("index 80:", x.index(80))   # 2

# 7. insert() → chèn phần tử vào vị trí chỉ định
x.insert(1, 65)  
print("insert:", x)  # [60, 65, 70, 80, 90, 100, 110, 120]

# 8. pop() → xóa phần tử tại vị trí chỉ định (mặc định là cuối)
x.pop()        # xóa phần tử cuối
print("pop:", x)  # [60, 65, 70, 80, 90, 100, 110]

# 9. remove() → xóa phần tử có giá trị cụ thể
x.remove(65)
print("remove:", x)  # [60, 70, 80, 90, 100, 110]

# 10. reverse() → đảo ngược list
x.reverse()
print("reverse:", x)  # [110, 100, 90, 80, 70, 60]

# 11. sort() → sắp xếp list tăng dần (hoặc giảm dần nếu reverse=True)
x.sort()
print("sort tăng dần:", x)   # [60, 70, 80, 90, 100, 110]

x.sort(reverse=True)
print("sort giảm dần:", x)   # [110, 100, 90, 80, 70, 60]

[60, 70, 80, 90, 100, 100, 100]
clear: []
copy: [60, 70, 80, 90, 100, 100, 100]
count 70: 1
extend: [60, 70, 80, 90, 100, 100, 100, 110, 120]
index 80: 2
insert: [60, 65, 70, 80, 90, 100, 100, 100, 110, 120]
pop: [60, 65, 70, 80, 90, 100, 100, 100, 110]
remove: [60, 70, 80, 90, 100, 100, 100, 110]
reverse: [110, 100, 100, 100, 90, 80, 70, 60]
sort tăng dần: [60, 70, 80, 90, 100, 100, 100, 110]
sort giảm dần: [110, 100, 100, 100, 90, 80, 70, 60]

## Tuples()

In [51]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

## Sets{}

In [55]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

## Dictionary {key : value}

In [57]:
k = { 'EN':'English','FR':'French' }

print(k['EN'])

English

## Python for Finance Applications

In [58]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [60]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [61]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [63]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## Python Control Logic and Loops

### Python if

In [64]:
# Python if
score = 80
if score >=60 :
    print("Pass")

Pass

## Python if else

In [65]:
# Python if else
score = 80
if score >=60 :
    print("Pass")
else:
    print("Fail")

Pass

## Python if elif else

In [66]:
# Python if elif else
score = 95
if score >= 90 :
    print("A")
elif score >=60 :
    print("Pass")
else:
    print("Fail")

A

In [68]:
# Python if elif else
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"
print(grade)

A

## Python for loops

In [71]:
# Python for Loops
for i in range(1,6):
    print(i)

1
2
3
4
5

In [72]:
# for loops
for i in range(1,10):
    for j in range(1,10):
        print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [74]:
# while loops
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

# Python Functions

## Python Function def

In [77]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv

fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

# Python Classes/Objects

## Python Classes

In [79]:
# Python class
class MyClass:
    x = 5

c1 = MyClass()
print(c1.x)

5

In [82]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [83]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [84]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [97]:
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." %(self.name, self.color, self.kind, self.value)
        return desc_str
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

# Python Modules

In [106]:
import mymodule
mymodule.greeting("Alan")

Hello, Alan

## Python File Input/Output

In [107]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World\nThis is Python File Input Output')

with open('myfile.txt', 'r') as file:
    text = file.read()
    print(text)

Hello World
This is Python File Input Output

In [109]:
# Python File Input / Output
filename = 'mymodule.py'
with open(filename, 'w') as file:
    text = '''def greeting(name): print("Hello, " + name)'''
    file.write(text)

with open(filename, 'r') as file:
    text = file.read()
    print(filename)
    print(text)

mymodule.py
def greeting(name): print("Hello, " + name)

## Python main() Function

In [111]:
#Python main() function
def main():
    print("Hello World!")
if __name__ == "__main__":
    main()

Hello World!

# Files and Exception Handling

## Python Files

In [112]:
f = open("myfile.txt", "w")
f.write("Hello World")
f.close()

f = open("myfile.txt", "r")

text = f.read()
print(text)
f.close()

Hello World

In [114]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World')

with open('myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World

In [115]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World\nPython File IO')

with open('myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World
Python File IO

In [116]:
# Python File Input / Output
with open('myfile.txt', 'a+') as file:
    file.write('\n' + 'New line')

with open('myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World
Python File IO
New line

In [121]:
# !dir list files
!dir

 Volume in drive C is OS
 Volume Serial Number is 34DA-0D3F

 Directory of C:\Users\KHA\Desktop\Da_buoi_2

09/14/2025  11:25 PM    <DIR>          .
09/14/2025  03:08 PM    <DIR>          ..
09/14/2025  11:12 PM    <DIR>          .ipynb_checkpoints
09/14/2025  11:24 PM                37 myfile.txt
09/14/2025  11:15 PM                43 mymodule.py
09/14/2025  11:25 PM            39,306 Untitled.ipynb
09/14/2025  11:13 PM    <DIR>          __pycache__
               3 File(s)         39,386 bytes
               4 Dir(s)  13,555,900,416 bytes free

## Python OS

In [123]:
import os

cwd = os.getcwd()
print(cwd)

C:\Users\KHA\Desktop\Da_buoi_2

## os.listdir()

In [124]:
os.listdir(cwd)

['.ipynb_checkpoints',
 'myfile.txt',
 'mymodule.py',
 'Untitled.ipynb',
 '__pycache__']

## os.path.join()

In [133]:
path = os.path.join(cwd,'sample_data')
print(path)
os.listdir(path)

C:\Users\KHA\Desktop\Da_buoi_2\sample_data

['sample_data.txt']

## from google.colab import files

In [ ]:
from google.colab import files

with open('io_file_myday.txt', 'w') as f:
    f.write('Google Colab File Write Text some content Myday')

import time
time.sleep(1) # time sleep 1 second
files.download('io_file_myday.txt')
print('downloaded')

## os.remove()

In [134]:
import os
if os.path.exists("myfile.txt"):
    os.remove("myfile.txt")
    print("myfile.txt removed")
else:
    print("The file does not exist")

myfile.txt removed

In [139]:
os.mkdir("myfolder1")
print(os.listdir())
os.rmdir("myfolder1")
print(os.listdir())

['.ipynb_checkpoints', 'myfolder1', 'mymodule.py', 'sample_data', 'Untitled.ipynb', '__pycache__']
['.ipynb_checkpoints', 'mymodule.py', 'sample_data', 'Untitled.ipynb', '__pycache__']

In [140]:
import os
os.listdir()
os.mkdir("myfolder1")
os.listdir()
os.rmdir("myfolder1")
os.listdir()

['.ipynb_checkpoints',
 'mymodule.py',
 'sample_data',
 'Untitled.ipynb',
 '__pycache__']

## Python Try Except (Exception Handling)

In [142]:
#Python try except
try:
    print(x)
except:
    print("Exception Error")

(10, 20, 30, 40, 50)

## Python try: except: finally

In [143]:
try:
    print("Hello")
except:
    print("Exception Error")
finally:
    print("Finally process")

Hello
Finally process

## Python try: except: else:

In [144]:
#Python try except else
try:
    print("Hello")
except:
    print("Exception Error")
else:
    print("No exception")

Hello
No exception

## Python try: except: else: finally:

In [145]:
try:
    print("Hello")
except:
    print("Exception Error")
else:
    print("No exception")
finally:
    print("Finally process")

Hello
No exception
Finally process

In [146]:
try:
    price = float(input("Enter the price of the stock (e.g. 10):"))
    shares = int(input("Enter the number of shares (e.g. 2):"))
    total = price * shares
except Exception as e:
    print("Exception error:", str(e))
else:
    print("The total value of the shares is:", total)
finally:
    print("Thank you.")

Enter the price of the stock (e.g. 10): 100
Enter the number of shares (e.g. 2): 2

The total value of the shares is: 200.0
Thank you.

In [147]:
try:
    file = open("myfile.txt")
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")

Exception file Error

In [148]:
try:
    file = open("myfile.txt")
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")
finally:
    file.close()
    print("Finally process")

Exception file Error
Finally process

In [150]:
try:
    file = open("myfile.txt", 'w')
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")
finally:
    file.close()
    print("Finally process")

file saved
Finally process

# END